vcl 4.0;

import std;
{% if varnish_bot_authenticity_rules %}
import dns;
{% endif %}
import xkey;
import directors;

{% if varnish_bot_detect == true %}
include "devicedetect.vcl";
{% endif %}
# See Flow
# https://www.varnish-cache.org/trac/wiki/VarnishInternals
# Tests
# curl 'http://localhost:80/' -H"Host: stable.example.com" --compressed -I
# curl 'http://localhost:8080/' -H"Host: stable.example.com" --compressed -I

# curl http://localhost:8080/_fos_user_context_hash -H"Host: www.wuv.de" -H"X-Forwarded-Proto: https" -H"accept: application/vnd.fos.user-context-hash" -H"x-fos-original-url: /test/login" -H"cookie: eZSESSID=mem54vuus25hnpdj299j91itk2" -I

# curl http://172.30.15.100:80/_fos_user_context_hash -H"X-Forwarded-Proto: https" -H"Host: wuv-test02.wuv.de" -H"accept: application/vnd.fos.user-context-hash" -H"x-fos-original-url: /test/login"

#ab -n 20000 -c 1 -H 'Host: stable.example.com' -H 'cookie: eZSESSID=mem54vuus25hnpdj299j91itk2' 'http://localhost:80/'

# watch "curl 'http://localhost:80/' -H'Host: stable.example.com' -H'cookie: eZSESSID=mem54vuus25hnpdj299j91itk2' --compressed -I"

{% if varnish_server_name is defined %}{% set Server = varnish_server_name %}{% else %}{% set Server = "Apache" %}{% endif %}
{% if varnish_x_powered_by is defined %}{% set X_Powered_By = varnish_x_powered_by %}{% else %}{% set X_Powered_By = "xrow GmbH" %}{% endif %}

{% set varnish_pools_sorted = varnish_pools|dictsort %}
{% for poolname, pool in varnish_pools_sorted %}
{% for backend in pool.backends %}
backend default_{{poolname}}_{{ loop.index }} {
    .host = "{{ backend.host }}";
    .port = "{{ backend.port }}";
    .connect_timeout = 3s;
    .first_byte_timeout = 120s;
    .between_bytes_timeout = 120s;
{% if backend.probe is defined and backend.probe != false %}
    .probe = { 
        .timeout = 5s; 
        .interval = 5s; 
        .threshold = 3;
{% if backend.probe.expected_response is defined %}
        .expected_response = {{ backend.probe.expected_response }};
{% endif %}
        .request =
{% if backend.probe.url is defined %}
            "GET {{ backend.probe.url }} HTTP/1.1"
{% else %}
            "GET / HTTP/1.1"
{% endif %}
{% if backend.probe.host is defined %}
            "Host: {{ backend.probe.host }}"
{% else %}
            "Host: {{ backend.host }}"
{% endif %}
            "Accept-Charset: utf-8"
{% if backend.probe.additional_headers is defined %}
{% for additional_header in backend.probe.additional_headers %}
            "{{ additional_header.header }}: {{ additional_header.value }}"
{% endfor %}
{% endif %}
            "Connection: close" ;
    }
{% endif %}
}
{% endfor %}
{% endfor %}

{% if varnish_bot_detect == true %}
backend bot {
    .host = "127.0.0.1";
    .port = "60078";
    .connect_timeout = 3s;
    .first_byte_timeout = 120s;
    .between_bytes_timeout = 120s;
    .probe = {
        .timeout = 1s;
        .interval = 5y;
        .window = 10;
        .threshold = 8;
    }
}
{% endif %}

{% if varnish_maintainers is defined %}
// ACL for maintenance IP Range
acl maintainers {
{% for maintainer in varnish_maintainers %}
    "{{ maintainer }}";
{% endfor %}
}
{% endif %}

// ACL for invalidators IP
acl invalidators {
{% if varnish_invalidators is defined %}
{% for invalidator in varnish_invalidators %}
    "{{ invalidator }}";
{% endfor %}
{% endif %}
}

acl elb {
{% if varnish_lbs is defined %}
{% for lb in varnish_lbs %}
    "{{ lb }}";
{% endfor %}
{% endif %}
}

{% for poolname, pool in varnish_pools_sorted %}

{% if pool.acl is defined %}
acl {{ poolname }}_acl {
{% if pool.acl.allow is defined %}
{% for ip in pool.acl.allow %}
 "{{ip}}";
{% endfor %}
{% endif %}
{% if pool.acl.deny is defined %}
{% for ip in pool.acl.deny %}
! "{{ip}}";
{% endfor %}
{% endif %}
}
{% endif %}
{% endfor %}

sub vcl_init {

{% for poolname, pool in varnish_pools_sorted %}
    new {{ poolname }} = directors.round_robin();
{% for backend in pool.backends %}
    {{ poolname }}.add_backend(default_{{poolname}}_{{ loop.index }});
{% endfor %}
{% endfor %}
}
sub vcl_recv {
{% if varnish_bot_authenticity_rules %}
    # Verify bot authenticity
    if ({% if varnish_bot_authenticity_urls %}req.url ~ "^({% for url in varnish_bot_authenticity_urls %}{{ url }}{% if not loop.last %}|{% endif %}{% endfor %})" && {% endif %}req.http.user-agent ~ "({% for acl in varnish_bot_authenticity_rules %}{{ acl.match_header }}{% if not loop.last %}|{% endif %}{% endfor %})") {
        # Do a reverse lookup on the client.ip (X-Forwarded-For)
        set req.http.X-Crawler-DNS-Reverse = dns.rresolve(req.http.X-Forwarded-For);

{% for acl in varnish_bot_authenticity_rules %}
        # Check if if requests user-agent header matches "{{ acl.match_header }}"
        if (req.http.user-agent ~ "{{ acl.match_header }}") {
{% if acl.ip_whitelist is defined %}
            # Deny access if request with user-agent "{{ acl.match_header }}" does not match one of the following IP's:
{% for ip in acl.ip_whitelist %}
            # * {{ ip }}
{% endfor %}
            if (req.http.X-Forwarded-For !~ "({% for ip in acl.ip_whitelist %}{{ ip }}{% if not loop.last %}|{% endif %}{% endfor %})") {
                return (synth(403, "Forbidden"));
            }
{% endif %}
{% if acl.reverse_dns_regex is defined %}
            # Check that the reverse DNS points to an allowed domain
            if (req.http.X-Crawler-DNS-Reverse !~ "{{ acl.reverse_dns_regex }}") {
                return (synth(403, "Forbidden"));
            }

            # Do a forward lookup on the DNS
            set req.http.X-Crawler-DNS-Forward = dns.resolve(req.http.X-Crawler-DNS-Reverse);

            # If the client.ip/X-Forwarded-For doesn't match, then the user-agent is a fake
            if (req.http.X-Crawler-DNS-Forward != req.http.X-Forwarded-For) {
                return (synth(403, "Forbidden"));
            }
{% endif %}
        }

{% endfor %}
        set req.http.cookie = "eZSESSID=valid_bot";
    }
{% endif %}

    # Varnish, in its default configuration, sends the X-Forwarded-For header but does not filter out Forwarded header
    # To be removed in Symfony 3.3
    # https://github.com/symfony/symfony/blob/3609744ab8763556b2eff1431424668f825dfb8d/src/Symfony/Component/HttpFoundation/Request.php#L1985
    # https://github.com/ezsystems/ezplatform-ee/blob/caf28ea59ac198aba85c0cceb09852f6e1f32dc0/doc/varnish/vcl/varnish4_xkey.vcl#L31
    unset req.http.Forwarded;

    #Block donottrack urls
    if (req.url ~ "\?.*donottrack.*") {
        return (synth (410, "Invalid URL blocked"));
    }
    set req.http.X-grace = "none";
    if (req.proto ~ "HTTP/2") {
        set req.http.X-Forwarded-Proto = "https";
        set req.http.X-Forwarded-Port = "443";
    }
    if (req.method != "GET" &&
        req.method != "HEAD" &&
        req.method != "PUT" &&
        req.method != "POST" &&
        req.method != "OPTIONS" &&
        req.method != "BAN" &&
        req.method != "PURGE" &&
        req.method != "COPY" &&
        req.method != "PATCH" &&
        req.method != "DELETE")
    {
        /* Non-RFC2616 or CONNECT which is weird. */
        return (synth(403, "Method Banned"));
    }

    if (req.http.USERHASH) {
        unset req.http.USERHASH;
    }

    if (req.restarts == 0) {
        set req.http.X-Forwarded-For = regsuball( req.http.X-Forwarded-For, "[,]+.*$", "");
        if ( !( req.http.X-Forwarded-For && client.ip ~ elb ) ) {
            set req.http.X-Forwarded-For = client.ip;
        }
    }

    // Retrieve client user hash and add it to the forwarded request
{% for poolname, pool in varnish_pools_sorted %}
{% if pool.hosts is defined and loop.first and not loop.last%}
    if ({% for host in pool.hosts %}req.http.host ~ "{{ host }}"{% if not loop.last %} || {% endif %}{% endfor %}) {
{% elif not loop.first and not loop.last%}
    elseif ({% for host in pool.hosts %}req.http.host ~ "{{ host }}"{% if not loop.last %} || {% endif %}{% endfor %}) {
{% elif loop.last and not loop.first %}
    else {
{% endif %}

{% if pool.acl is defined %}
        if ( !(std.ip(req.http.X-Forwarded-For, "0.0.0.0") ~ {{ poolname }}_acl) ) {
         return (synth(403, "Access denied"));
        }
{% endif %}
        set req.backend_hint = {{ poolname }}.backend();
{% if pool.userhash is defined and pool.userhash == false %}
        set req.http.USERHASH = "0";
{% elif pool.userhash is defined or pool.userhash is undefined%}
        set req.http.USERHASH = "1";
{% endif %}
{% if pool.pipe is defined %}
        set req.http.PIPE = "{{pool.pipe}}";
{% endif %}
{% if not ( loop.last and loop.first ) %}
    }
{% endif %}
{% endfor %}

    if ( (req.url ~ "^/api/ezp/" || req.url ~ "^/ez/notifications" ) && req.url !~ "^/api/ezp/v2/menu" ) {
        return (pipe);
    }

    if (req.url ~ "^/varnish-status") {
    
		if (std.file_exists("/etc/varnish/deployment")) {
			return (synth(500, "Deployment running. Stay tuned."));
		}
        if(std.healthy(req.backend_hint) ){
            return (synth(200, "OK."));
        }
        else {
            return (synth(500, "No Backends available."));
        }
        return (synth(200, "OK."));
    }
    // Websocket support
    if (req.http.Upgrade ~ "(?i)websocket") {
        return (pipe);
    }
    if (req.http.PIPE) {
        unset req.http.PIPE;
        return (pipe);
    }
    # normalize encoding fpr less cached versions
    if (req.http.Accept-Encoding) {
        if (req.url ~ "^[^?]*\.(jpg|png|gif|mp[34]|rar|tar|tgz|gz|wav|zip|bz2|xz|7z|avi|mov|og[gm]|mpe?g|mk[av]|flac|flv|webm)(\?.*)?$") {
            # No point in compressing these
            unset req.http.Accept-Encoding;
        }
        elsif (req.http.Accept-Encoding ~ "gzip") {
            set req.http.Accept-Encoding = "gzip";
        }
        elsif (req.http.Accept-Encoding ~ "deflate") {
            set req.http.Accept-Encoding = "deflate";
        }
        else {
            # unkown algorithm
            unset req.http.Accept-Encoding;
        }
    }
{% if varnish_vcl_recv is defined %}
    {{ varnish_vcl_recv }}
{% endif %}
    # If client enforces cache control, we ignore it.
    if (req.http.Cache-Control) {
        unset req.http.Cache-Control;
    }

    if (req.url ~ "/ezinfo/is_alive") {
        return (pass);
    }

    # Normalize the header, remove the port (in case you're testing this on various TCP ports)
    set req.http.Host = regsub(req.http.Host, ":[0-9]+", "");

    # Normalize the query arguments
    set req.url = std.querysort(req.url);
    
    # remove cache breaker
    if (req.url ~ "(\?_=.*)") {
      set req.url = regsub(req.url, "(\?_=([A-z0-9_\-\.%25]+))", "");
    }

    # remove facebook
    if (req.url ~ "(\?fbclid=.*)") {
      set req.url = regsub(req.url, "(\?fbclid=([^?]+))", "");
    }

    # Remove Google Analytics parameters
    if (req.url ~ "(\?|&)gclid=") {
      set req.url = regsuball(req.url, "&gclid=([A-z0-9_\-\.%25]+)", "");
      set req.url = regsuball(req.url, "\?gclid=([A-z0-9_\-\.%25]+)", "?");
      set req.url = regsub(req.url, "\?&", "?");
      set req.url = regsub(req.url, "\?$", "");
    }

    // Trigger cache purge if needed
    call ez_purge;
    {% if varnish_maintainers is defined %}
    if (!client.ip ~ maintainers) {
        return (synth(751, "Maintainance"));
    }
    {% endif %}
    

    # All static
    # Do a standard lookup on assets
    if (req.url ~ "^/(assets|bundles|var|js|css|design|extension/[a-z]+/design)/") {
        unset req.http.Cookie;
        return (hash);
    }

    if (req.method != "GET" && req.method != "HEAD") {
        /* We only deal with GET and HEAD by default */
        return (pass);
    }

    if (!req.url ~ "/content/preview/") {
        set req.http.Surrogate-Capability = "abc=ESI/1.0";
    }

    // Retrieve client user hash and add it to the forwarded request.
    if (req.http.USERHASH == "1") {
        call ez_user_hash;
    }
    {% if varnish_bot_detect == true %}
    call devicedetect;
    if (req.http.X-UA-Device ~ "^bot") {
    set req.http.time = now;
        if(req.http.time ~ "^.*(0[6-9]|1[0-9]|2[0-2]):[0-9][0-9]:[0-9][0-9].* GMT")
        {
            set req.backend_hint = bot;
            set req.http.uagent = "bot";
        }
        else {
           set req.backend_hint = default_pool_1_1;
        }
        unset req.http.time;
    }
    {% endif %}
    return (hash);
}
sub vcl_hash {

    hash_data(req.url);
    if (req.http.host) {
        hash_data(req.http.host);
    } else { 
        hash_data(server.ip); 
    }
    #You can disable this if sslzones are off in eZ Publish
    if( req.http.X-Forwarded-Proto ) {
        hash_data(req.http.X-Forwarded-Proto);
    }
    if( req.http.X-User-Hash ) {
        hash_data(req.http.X-User-Hash);
    }
    if( req.http.X-Siteaccess ) {
        hash_data(req.http.X-Siteaccess);
    }
    return (lookup);
}
{% if varnish_bot_detect == true %}
sub vcl_miss {   
    if(req.http.uagent == "bot")
    {
    set req.http.X-uagent = true;
    return (synth(751, "BOT."));
    }
}
{% endif %}
sub vcl_backend_fetch {
    set bereq.http.connection = "close";  
    return (fetch);
}
sub vcl_backend_response {
{% if varnish_storage_big_file_threshold > 0 %}
    if (std.integer(beresp.http.Content-Length, 0) > {{varnish_storage_big_file_threshold|int * 1000000}}) {
        set beresp.storage{% if varnish_major_version|int < 5 %}_hint{% endif %} = {% if varnish_major_version|int < 5 %}"{{varnish_storage_big_file_backend_name}}"{% else %}storage.{{varnish_storage_big_file_backend_name}}{% endif %};
    }
    else {
        set beresp.storage{% if varnish_major_version|int < 5 %}_hint{% endif %} = {% if varnish_major_version|int < 5 %}"{{varnish_storage_memory_backend_name}}"{% else %}storage.{{varnish_storage_memory_backend_name}}{% endif %};
    }
{% endif %}
    if (bereq.http.accept ~ "application/vnd.fos.user-context-hash"
        && beresp.status >= 500
    ) {
        set beresp.http.user-context-error = "1";
        std.syslog( 3, "User context error in on Host " + bereq.http.Host + " for URL "  + bereq.http.x-fos-original-url );
    }
    if (bereq.http.accept ~ "application/vnd.fos.user-context-hash") {
        std.log( "User hash: " + beresp.http.X-User-Hash );
    }
    set beresp.http.X-Backend = beresp.backend.name;
    if (beresp.http.Surrogate-Control ~ "ESI/1.0") {
        unset beresp.http.Surrogate-Control;
        set beresp.do_esi = true;
    }
    if (beresp.http.X-Varnish-Control == "disabled") {
        unset beresp.http.x-varnish-control;
        set beresp.uncacheable = true;
    }
{% if varnish_ttl is defined %}
    if ( beresp.status == 200 && beresp.ttl < {{varnish_ttl}}s ) {
        set beresp.ttl = {{varnish_ttl}}s;
        unset beresp.http.Cache-Control;
        unset beresp.http.Set-Cookie;
    }
{% endif %}
    if (beresp.status == 404) {
       set beresp.ttl = 60s;
    }
    if (beresp.status == 301 && !beresp.http.Set-Cookie) {
        set beresp.ttl = 4h;
        unset beresp.http.Cache-Control;
    }
    # Fix for ezplatform caching 302 redirects
    if (beresp.status == 302) {
        set beresp.uncacheable = true;
    }
    set beresp.grace = {{varnish_max_grace}}h;
    if (beresp.http.etag) {
        unset beresp.http.etag;
    }
    # Large static files are delivered directly to the end-user without
    # waiting for Varnish to fully read the file first.
    # Varnish 4 fully supports Streaming, so use streaming here to avoid locking.
    if (bereq.url ~ "^[^?]*\.(jpg|png|gif|mp[34]|rar|tar|tgz|gz|wav|zip|bz2|xz|7z|avi|mov|og[gm]|mpe?g|mk[av]|flac|flv|webm)(\?.*)?$") {
        unset beresp.http.set-cookie;
        set beresp.do_stream = true; # Check memory usage it'll grow in fetch_chunksize blocks (128k by default) if the backend doesn't send a Content-Length header, so only enable it for big objects
        # Don't try to compress it for storage
        set beresp.do_gzip = false;  
        set beresp.do_gunzip = false;
    }
    if (beresp.ttl < 1s) {
        set beresp.uncacheable = true;
    }
    # Only set cache if it is not defeined.
    if (bereq.url ~ "^/var/" && beresp.ttl < 1s ) {
        unset beresp.http.expires;
        set beresp.http.cache-control = "public, max-age=2592000";
    }
    if (beresp.http.Cache-Control && beresp.http.Cache-Control ~ "no-cache") {
        set beresp.uncacheable = true;
    }
    if (beresp.http.Cache-Control && beresp.http.Cache-Control ~ "no-store") {
        set beresp.uncacheable = true;
    }
    if (beresp.http.Cache-Control && beresp.http.Cache-Control ~ "private") {
        set beresp.uncacheable = true;
    }

    # we can remove expire when we have Cache-Control
    if (beresp.http.Expires && beresp.http.Cache-Control) {
        unset beresp.http.Expires;
    }
    # Enabling GZIP
    if (beresp.http.content-type ~ "text") {
        set beresp.do_gzip = true;
    }

    {% if varnish_vcl_backend_response is defined %}
        {{ varnish_vcl_backend_response }}
    {% endif %}
    set bereq.http.connection = "close";

    return (deliver);
}
sub vcl_hit {
    set req.http.X-TTL = obj.ttl;
    if (obj.ttl >= 0s) {
        # normal hit
        return (deliver);
    }

    # We have no fresh fish. Lets look at the stale ones.
    if (std.healthy(req.backend_hint)) {
        # Backend is healthy. Limit age to {{varnish_max_stale}}s.
        if (obj.ttl + {{varnish_max_stale}}s > 0s) {
            set req.http.X-grace = "normal(limited)";
            return (deliver);
        }
        else {
            # No candidate for grace. Fetch a fresh object.
            return(miss);
        }
    } else {
        # backend is sick - use full grace
        if (obj.ttl + obj.grace > 0s) {
            set req.http.X-grace = "full";
            return (deliver);
        }
        else {
            # no graced object.
            return (miss);
        }
    }
}
sub vcl_deliver {

    # Do not show the version of the server software: "unset beresp.http.Server;" does not work
    set resp.http.Server = "{{ Server }}";

    if (resp.http.user-context-error) {
        return (deliver);
    }
    // On receiving the hash response, copy the hash header to the original
    // request and restart.
    if (req.restarts == 0
        && resp.http.content-type ~ "application/vnd.fos.user-context-hash"
    ) {
        set req.http.X-User-Hash = resp.http.X-User-Hash;
        return (restart);
    }
    elseif (req.restarts > 0 && ! req.http.X-User-Hash) {
        std.syslog( 5, "User hash not provided for URL " + req.url + " for URL " + req.url );
    }
    //Fallback for old or non eZ applications
    if (req.restarts == 0
        && req.http.x-fos-original-url
        && resp.http.content-type != "application/vnd.fos.user-context-hash") {
        set req.url = req.http.x-fos-original-url;
        return (restart);
    }
    // If we get here, this is a real response that gets sent to the client.

    // Remove the vary on context user hash, this is nothing public. Keep all
    // other vary headers.
    set resp.http.Vary = regsub(resp.http.Vary, "(?i),? *x-user-hash *", "");
    set resp.http.Vary = regsub(resp.http.Vary, "(,| *)(?i)X-Forwarded-Proto(,| *)", "");
    set resp.http.Vary = regsub(resp.http.Vary, "^, *", "");
    if (resp.http.Vary == "") {
        unset resp.http.Vary;
    }

    if (resp.http.served-by) {
        unset resp.http.served-by;
    }
    if (resp.http.Via) {
        unset resp.http.Via;
    }
    if (resp.http.X-Location-Id) {
        unset resp.http.X-Location-Id;
    }
    #If Debug turn on
    if (resp.http.X-Varnish) {
        unset resp.http.X-Varnish;
    }
    if (resp.http.Content-Type && resp.http.Content-Type ~ "text/html") {
        unset resp.http.Last-Modified;
        unset resp.http.Expires;
        set resp.http.Cache-Control = "max-age=0, no-cache, no-store, must-revalidate";
        set resp.http.Pragma = "no-cache";
    }

    if ( resp.status == 301 && resp.http.Cache-Control ~ "no-cache" )
    {
        set resp.http.Cache-Control = "public, max-age=86400";   
    }

    # We do not want to expire all at once; Age > max-age
    set resp.http.Age = "0";
    set resp.http.X-Powered-By = "{{ X_Powered_By }}";
    unset resp.http.Via;
    # Ensure set-cookie is never present on cached requests
    if (resp.http.Set-Cookie && obj.hits > 0) {
      unset resp.http.Set-Cookie;
    }
    # Debug Header
    set resp.http.X-Cache = server.hostname;

    if (resp.http.X-Backend) {
        set resp.http.X-Cache =  resp.http.X-Cache + ":" + resp.http.X-Backend;
        unset resp.http.X-Backend;
    }
    if (obj.hits > 0) {
        set resp.http.X-Cache = resp.http.X-Cache + ":HIT:" + obj.hits;
    }
    else {
        set resp.http.X-Cache = resp.http.X-Cache + ":MISS";
    }
    if (req.http.X-grace) {
        set resp.http.X-Cache = resp.http.X-Cache + ":Grace:" + req.http.X-grace;
    }
    if (req.http.X-TTL) {
        set resp.http.X-Cache = resp.http.X-Cache + ":TTL:" + req.http.X-TTL;
    }
    if (req.http.X-User-Hash) {
        set resp.http.X-Cache = resp.http.X-Cache + ":User-Hash:" + req.http.X-User-Hash;
    }
    // Sanity check to prevent ever exposing the hash to a client.
    unset resp.http.X-User-Hash;
}

sub vcl_pipe {
    if (req.http.upgrade) {
        set bereq.http.upgrade = req.http.upgrade;
    }
    set bereq.http.connection = "close";
    return (pipe);
}

// Handle purge
// You may add FOSHttpCacheBundle tagging rules
// See http://foshttpcache.readthedocs.org/en/latest/varnish-configuration.html#id4
sub ez_purge {

    # Support how purging was done in earlier versions, this is deprecated and here just for BC for code still using it
    if ( req.method == "BAN" ) {
        if (client.ip !~ invalidators) {
            std.syslog( 4, "Method BAN not allowed for this IP" );
            return (synth(405, "Method BAN not allowed for this IP"));
        }

        if (req.http.X-Location-Id) {
            ban("obj.http.X-Location-Id ~ " + req.http.X-Location-Id);
            std.syslog( 6, "Ban done for content connected to LocationId " + req.http.X-Location-Id );
            return (synth(200, "Ban done for content connected to LocationId " + req.http.X-Location-Id));
        }
    }
{% if varnish_major_version >= "6" %}
    if ( req.method == "PURGE" ) {
        if (client.ip !~ invalidators) {
            std.syslog( 4, "Method PURGE not allowed for this IP" );
            return (synth(405, "Method PURGE not allowed for this IP"));
        }

        # If http header "key" is set, we assume purge is on key and you have Varnish xkey installed
        if (req.http.key) {
            # By default we recommend using soft purge to respect grace time, if you need to hard purge use:
            # set req.http.n-gone = xkey.purge(req.http.key);
            set req.http.n-gone = xkey.softpurge(req.http.key);
            std.syslog( 6, "Invalidated "+req.http.n-gone+" objects via PURGE" );
            return (synth(200, "Invalidated "+req.http.n-gone+" objects"));
        }
        std.syslog( 6, "Invalidated URL via PURGE" );
        # if not, then this is a normal purge by url
        return (purge);
    }
{% endif %}
}

// Sub-routine to get client user hash, for context-aware HTTP cache.
sub ez_user_hash {

    // Prevent tampering attacks on the hash mechanism
    if (req.restarts == 0
        && (req.http.accept ~ "application/vnd.fos.user-context-hash"
            || req.http.X-User-Hash)
    ) {
        return (synth(400));
    }

    if (req.restarts == 0) {
        // Anonymous user => Set a hardcoded anonymous hash
        if (req.http.Cookie !~ "eZSESSID" && !req.http.authorization) {
            set req.http.X-User-Hash = "{{varnish_user_hash}}";
        }
        // Pre-authenticate request to get shared cache, even when authenticated
        else {
            set req.http.x-fos-original-url    = req.url;
            set req.http.x-fos-original-accept = req.http.accept;
            set req.http.x-fos-original-cookie = req.http.cookie;
            // Clean up cookie for the hash request to only keep session cookie, as hash cache will vary on cookie.
            set req.http.cookie = ";" + req.http.cookie;
            set req.http.cookie = regsuball(req.http.cookie, "; +", ";");
            set req.http.cookie = regsuball(req.http.cookie, ";(eZSESSID[^=]*)=", "; \1=");
            set req.http.cookie = regsuball(req.http.cookie, ";[^ ][^;]*", "");
            set req.http.cookie = regsuball(req.http.cookie, "^[; ]+|[; ]+$", "");

            set req.http.accept = "application/vnd.fos.user-context-hash";
            set req.url = "/_fos_user_context_hash";

            // Force the lookup, the backend must tell how to cache/vary response containing the user hash

            return (hash);
        }
    }

    // Rebuild the original request which now has the hash.
    if (req.restarts > 0
        && req.http.accept == "application/vnd.fos.user-context-hash"
    ) {
        set req.url         = req.http.x-fos-original-url;
        set req.http.accept = req.http.x-fos-original-accept;
        set req.http.cookie = req.http.x-fos-original-cookie;

        unset req.http.x-fos-original-url;
        unset req.http.x-fos-original-accept;
        unset req.http.x-fos-original-cookie;

        // Force the lookup, the backend must tell not to cache or vary on the
        // user hash to properly separate cached data.

        return (hash);
    }
}
sub vcl_backend_error {
    std.syslog( 2, "vcl_backend_error on Host " + bereq.http.host + " with URL " + bereq.url );
    {% if maintainance.stat.exists %}
    synthetic(std.fileread("/etc/varnish/maintainance.html"));
    {% endif %}
    return (deliver);
}
sub vcl_synth {
    // Varnish redirect 
    if (resp.status == 750) {
        set resp.status = 301;
        set resp.http.Location = "http://" + req.http.host + req.url;
        return(deliver);
    }
    // Maintainance page 
    if (resp.status == 751) {
        set resp.status = 503;
        set resp.http.X-Robots-Tag = "noindex";
        set resp.http.X-Client-IP = client.ip;
        set resp.http.Content-Type = "text/html; charset=utf-8";
        synthetic(std.fileread("/etc/varnish/maintainance.html"));
        return(deliver);
    }
    {% if varnish_bot_detect == true %}
    if (resp.status == 751) {
        set resp.status = 429;
        set resp.http.Content-Type = "text/html; charset=utf-8";
        set resp.http.Retry-After = "3600";
     } 
     {% endif %}
    set resp.http.Content-Type = "text/html; charset=utf-8";
    set resp.http.Retry-After = "5";
    set resp.http.Cache-Control = "no-cache,no-store";
    set resp.http.X-Robots-Tag = "none";
    synthetic( {"{{varnish_error}}"} );
    return (deliver);
}
